@import '../../partials/mixin';

.hero-grid{
    background-color: map-get($color-background, hero-bg);
    display: grid;
    grid-template-areas: "head" "main" "foot";
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 1fr;
    height: 100vh;
    &__head{
        grid-area: "head";
        background-color: map-get($color-background, nav-bg);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo{
        padding: 2rem 0 0.5rem 0;
        width: 15rem;
    }
    &__main{
        grid-area: "main";
        @include tablet{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
    }
    &__main-title{
        margin: 2rem 0;
        color: map-get($color-primary, global-white);
        font-size: map-get($size, mob-page-header);
        @include desktop {
            font-size: map-get($size, desktop-page-header);
        }
    }
    &__start-nominate{
        margin: 2rem 0;
        height: 3.25rem;
        @include nominate-size;
        width: 18.75rem;
        @include desktop{
            width: 20rem;
        }
        font-size: map-get($size, start-nominate);
        box-shadow: 0 5px 15px 0 map-get($color-secondary, nominate-shadow);
        background-color: map-get($color-background, nominate-bg);
        border: 1px transparent;
        border-radius: 6px;
        color: map-get($color-primary, global-white);
    }
    &__hero{
        width: 100vw;
        margin: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 35px;
        //background-color: map-get($color-background, hero-pic-bg);
        @include tablet{
            width: 40vw;
            height: 70vh;
            margin: 5%;
        }
    }
    &__hero-pic{
        width: 60vw;
        @include tablet{
            width: 30vw;
            height: 30vw;
        }
    }
    &__foot{
        background-color: map-get($color-primary, global-white);
    }
}