@import '../../partials/mixin';

.main-grid{
    position: absolute;
    top: 13vh;
    animation: appear 2s ease-in-out;
    display: flex;
    flex-direction: column;
    &__bar{
        position: sticky;
        z-index: 20;
        top: 13vh;
        border-bottom: solid 1px map-get($color-secondary, nav-border);
        box-shadow: 0 3px 6px map-get($color-secondary, nav-border-shadow);
        background-color: white;
        border-radius: 3px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__search{
        height: 0;
    }
    &__search-bar{
        background-image: url('../../assets/images/search.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 3rem;
        outline: none;
        width: 30vw;
        height: 4em;
        margin-top: -4rem;
        //margin-bottom: 4em;
        z-index: 7;
        border: map-get($color-secondary, nav-border) solid 1px;
        border-radius: 99em;
        box-shadow: 0 3px 6px map-get($color-secondary, nav-border-shadow);
        color: map-get($color-primary, global-text);
        padding: 0 2rem;
        font-size: map-get($size, nav-bar);
        &::placeholder{
            color: map-get($color-primary, global-text);
            font-size: map-get($size, nav-bar);
        }
        &[type="search"]:focus::-webkit-search-cancel-button {
            opacity: 0;
        }
    }
    &__center{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 100%;
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    &__movies{
        flex: 3 50rem;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 3%;
    }
    &__nominations{
        flex: 1 10rem;
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        padding: 3%;
    }
    &__title{
        color: goldenrod;
        font-size: map-get($size, section-header);
        font-weight: lighter;
    }
    &__title-count{
        border-radius: 70%;
        background-color: map-get($color-background, counter-bg);
        color: white;
        font-size: map-get($size, section-count);
        padding: 0.5rem 1rem;
    }
}

@keyframes appear {
    0%{
        opacity: 0;
        transform: translateX(100vw);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}