@import '../../partials/mixin';

.results{
    background-color: #daa52029;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1em;
    //font-weight: lighter;
    //border-bottom: 0.1rem #c0c0c0 solid;
    //width: 100vw;
    //height: fit-content;
    //box-shadow: 0 1px 4px rgb(0 0 0 / 4%);
    //border: 1px solid map-get($color-secondary, main-borders);
    //border-radius: 3px;
    color: goldenrod;
    &__left{
        display: flex;
        width: 25vw;
        justify-content: space-between;
        align-items: center;
        margin-left: 4%;
    }
    &__logo{
        width: 30px;
        object-fit: contain;
    }
    &__banner{
        width: 100vw;
        padding: 2rem 0;
        border: goldenrod 1px solid;
        margin: 0 0 2rem 0;
        display: flex;
        justify-content: center;
    }
    &__sort{
        display: flex;
        align-items: center;
        margin-right: 3%;
    }
    &__sort-tag{
        margin: 0 1rem;
    }
    &__count{
        height: fit-content;
    }
}
select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    outline: none;
    color: map-get($color-primary, global-text);
    font-size: map-get($size, nav-bar);
}

    .custom-select {
        width: 10ch;
        border: 1px solid map-get($color-secondary, nav-border);
        border-radius: 99em;
        padding: 0 0.5em;
        cursor: pointer;
        //line-height: 1.1;
        background-color: transparent;
        height: 2rem;
    }
    .custom-select::after {
        content: "";
        width: 0.8em;
        height: 0.5em;
        background-color: map-get($color-background, counter-bg);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
  .custom-select {
    display: flex;
  }

  .custom-select {
    // ...existing styles
    grid-template-areas: "select";
  }
  
  select,
  .custom-select:after {
    grid-area: select;
  }

  .custom-select {
    // ...existing styles
    align-items: center;
  }
  
  .custom-select:after {
    // ...existing styles
    justify-self: end;
  }

  select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

  .custom-select {
    // ...existing styles
    position: relative;
  }