@import '../../partials/mixin';

.head{
    position: fixed;
    top: 0;
    z-index: 10;
    height: 13vh;
    width: 100vw;
    background-color: map-get($color-background, nav-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo{
        padding: 1rem 0 0.5rem 0;
        width: 15rem;
    }
}