// <<<<< BREAKPOINTS VARIABLES >>>>> \\

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1080px;

// <<<<< FONT SIZE MAP >>>>> \\

$size: (
    "mob-page-header": 2rem,
    "desktop-page-header": 3rem,
    "start-nominate": 1rem,
    "nav-bar": 1.0625rem,
    "section-header":1.5rem,
    "section-count":1rem,
    "card-title":0.875rem,
    "card-year": 0.0125rem,
    "card-nominate": 0.75rem,
    "card-pop-title":1.5rem,
    "card-pop-details-heading": 1rem,
    "card-pop-details": 1.2rem,
    "nominated-title":0.75rem
);

// <<<<< FONT COLOR MAP >>>>> \\

$color-primary: (
    "global-text": #DAA520,
    "card-text": #A57E1D,
    "global-white": #fff
);

$color-secondary: (
    "nav-border": #DAA520,
    "nav-border-shadow": #DAA52059,
    "nominate-shadow": #DAA52026
);

$color-background: (
    "nav-bg": #fff,
    "hero-bg": #5f6361,
    "hero-pic-bg": #ffffffc4,
    "card-bg": #F4E6CF,
    "counter-bg": #DAA520,
    "card-pop-bg": #DAA520,
    "nominate-bg": #DAA520
);