.clip{
    &__tag{
        width: 3rem;
        height: 3rem;
        background-image:url('../../assets/images/clipboard.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #f6e601;
        border-radius: .5rem;
        margin: 0;
    }
    &__small{
        color: black;
    }
}